fieldset {
    width: 330px;
    margin-bottom: 24px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}    

label + label {
    margin-left: 48px;
}